.component-button {
    display: flex;
    width: 25%;
    flex: 1 0 auto;
    background-color: rgb(42, 45, 47);
    color: rgb(232, 230, 227);
    border-color: currentColor;
}
.component-button.wide {
    width: 50%;
}
.component-button.orange button {
    background-color: rgb(164, 80, 9);
    color: rgb(232, 230, 227);
}
.component-button:last-child button {
    margin-right: 0;
}
.component-button button {
    border-color: currentColor;
    border: 0;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
}
.wide {
    width: 2rem;
}
