#calendar-container {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 4% 25% 5% 66%;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

header {
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid rgb(56, 56, 56);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.233);
  /*display: block;
    text-align: center;*/
  display: flex;
  justify-content: space-between; /*horizontal align*/
  align-items: center; /*vertical align*/
}

#clock {
  padding-left: 0.5%;
  font-size: 100%;
  font-family: Helvetica-Neue-Light;
}

#image-container {
  z-index: -2;
  padding: 0;
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid rgb(56, 56, 56);
  overflow: hidden;
}

img {
  z-index: -2;
  max-width: 100%;
  overflow: hidden;
}

#month {
  font-size: 140%;
}
/* BUTTONS */
button {
  user-select: none;
  outline: none;
  cursor: pointer;
}
#today-month {
  background-color: transparent;
  border: none;
}
#previous-month,
#next-month {
  height: 90%;
  max-height: 2.5em;
  float: left;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #646464;
  border-radius: 2px;
  transition: 100ms ease-in-out;
}
#previous-month:hover,
#next-month:hover {
  background-color: #e7e7e7;
}
#previous-month:active,
#next-month:active {
  background-color: #dfdfdf;
}
#today {
  margin-left: 10%;
  position: absolute;
}
