#dates-container {
    padding: 2%;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekdays {
    display: grid;
    grid-template-rows: 0.1fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
}

.day-names {
    font-size: 100%;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center; /*horizontal align*/
    align-items: center; /*vertical align*/
}

.date,
.date-today,
.date-different-month {
    padding: 1%;
    padding-left: 3%;
    font-size: 130%;
    font-family: Helvetica-Neue-Light;
    cursor: pointer;
    border: 1px solid black;
    user-select: none;
    /* overflow: hidden; */
}
.date:hover {
    background-color: #dddddd;
}
.date:active {
    background-color: #cccccc;
}
.date-today {
    background: lightblue;
}
.date-today:hover {
    background: rgb(119, 189, 212);
}
.date-today:active {
    background: rgb(106, 172, 194);
}
.date {
    background: gray;
}
.date-different-month:hover {
    background: rgb(114, 114, 114);
}
.date-different-month:active {
    background: rgb(95, 95, 95);
}

.calendar-event {
    color: #363636;
    font-size: 45%;
    margin: 0;
    word-break: break-all;
}
